#navigation{
    width: 96vw;
    height: 30px;
    margin: 0 2vw 0 2vw;
}
#navigation>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#navigation>ul>li{
    list-style-type: none;
}
#navigation>ul>li>a{
    text-decoration: none;
    color: black;
}
#navigation>ul>li>a:hover{
    border-bottom: 2px solid;
}