.user{
    width: 200px;
    height: 80px;
    border: 1px solid blue;
}
.linkUser{
    text-decoration: none;
    color: black;
}
.user{
    background-color: #9b9fa8;
    border: 1px solid #3e3e44;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;

    line-height: 27px;

    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin-top: 10px;
}

.user:hover {
    border-color: #bcc8ec;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.user:focus {
    border-color: #4285f4;
    outline: none;
}